<div id='mount-game'
  data-counter=<%= @game.counter %>
  data-donation-sum=<%= @game.donation_sum %>
  data-powerups=<%= @game.powerups.to_json %>
  data-infected=<%= @global_number.infected %>
  data-decrementer=<%= @game.decrementer + @global_number.decrementer %>
  data-received=<%= @global_number.received %>
>
</div>
